button[buttonText="Post Your Review"] {
  color: white;
  font-size: 18px;
  background-color: #ff5a60;
  border: 0px solid rgb(0, 0, 0);
  padding: 7px 13px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.review-item {
  margin-top: 5px;
  margin-bottom: 50px;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.review-content h4,
.review-content p {
  margin: 0px;
}

.review-content-name {
  font-size: 20px;
  font-weight: bold;
}

.review-content-date {
  color: darkgray;
}

.review-item-buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.review-item-buttons button {
  color: white;
  background-color: #ff5a60;
  border: 0px solid rgb(0, 0, 0);
  padding: 8px 12px;
  border-radius: 8px;
}