/* TODO Add site wide styles */

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

/* page width control */

.landing-page,
.manage-spots-page {
  margin: 20px auto;
  max-width: 1400px;

}

.manage-reviews-page {
  margin: 20px auto;
  max-width: 1400px;
  padding: 25px;
}

.spot-form-page {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}


/* hover effects */

.hover-shadow {
  transition: box-shadow 0.2s ease-in-out;
}

.hover-shadow:hover {
  box-shadow:
    -5px -5px 15px rgba(0, 0, 0, 0.2),
    5px 5px 20px rgba(0, 0, 0, 0.3);
}

.hover-outline {
  transition: border-color 0.2s ease-in-out;
}

.hover-outline:hover {
  border: 1px solid rgb(0, 0, 0);
}

/* tooltips */

.tooltip-container {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  width: 200px;
  right: calc(50% - 100px);
  bottom: 45%;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  transform: translateY(0);
  transition-duration: 300ms;
}

/* media query, breakpoints*/

/* >= 576px, >= 768px, >= 992px */

/* iPhone 428px, iPad 1024px, Laptop 1920px*/